html
body
    <form action="/img/", method="POST" enctype="multipart/form-data">
    label(for="photo") Cat Photo
    input#photo(type="file", name="photo")
    input#text(type="text", name="name")
    input(type="text", name="age")
    input(type="submit", value="Submit")
    </form>